@font-face {
  font-family: "DidactGothic";
  src: url("./fonts/Didact_Gothic/DidactGothic.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  overflow-x: hidden;
  background: #c036dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #895be5,
    #ad36dc
  ); 
  background: linear-gradient(
    to right,
    #895be5,
    #ad36dc
  ); 
}

#game-header {
  font-family: 'DidactGothic', serif;
  
  padding: 1rem;
  
}

.interaction-window {
  background: white;
}

.shadow {
  box-shadow: 1px 1px 4px 2px;
}

.text-gray {
  color: gray;
}

.game-info {
  background-color: lightblue;
  border: 1px solid lightblue;
  border-radius: 5px;
  
  bottom: 0;
  font-family: 'DidactGothic', serif;
}

.score-window {
  font-family: 'DidactGothic', serif;
}

.height {
  min-height: 87vh;
  height: 100%;
}

#username {
  width: 15rem;
  border: none;
  text-align: center;
}

.mt-10 {
  margin-top: 10rem;
}

#highestScores .row:nth-child(even) {
  background-color: lightcyan;
  margin: 0;
  box-shadow: 0px 0px 2px 1px;
}

#highestScores .row:nth-child(odd) {
  background-color: lightgrey;
  margin: 0;
  box-shadow: 0px 0px 2px 1px;
}

@media only screen and (max-width: 600px) {
  #verb-ending {
    width: 40%;
  }

  #verb {
    width: 40%;
  }
}
